.row
  .col-lg-10
    .ibox.float-e-margins
      .ibox-title
        %h3
          Here is all your relevant info
      .ibox-content
        %h1 Acaemdics

        %h3
          Academics in our database:
          = @academcis ? @academcis.count : 0


        %hr
        .row.mt100
          .text-center
            = link_to "Get Some Adademics", academics_path(api_request: "on"), class: "btn btn-warning"
