%main#main.site-main
  %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active{:style => "background: url(assets/background/whiteboard2.jpg);"}
        .container
          %img{:alt => "First slide", :src => "assets/background/hero_text_2.png"}/
      .item{:style => "background: url(assets/background/whiteboard1.jpg);"}
        .container
          %img{:alt => "First slide", :src => "assets/background/hero_text_2.png"}/
      -# .item{:style => "background: url(images/bg-3.jpg);"}
      -#   .container
      -#     %img{:alt => "First slide", :src => "assets/background/hero_text_1.png"}/
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-1"}
      %span.fa.fa-chevron-left
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-1"}
      %span.fa.fa-chevron-right


  %section.section.section-center.section-cta
    .container
      %h3.text-cemter Its pretty simple.
      %h3.text-cemter Your company goes through whiteboard markers every month.
      %h3.text-cemter We make sure you always have enough on hand.
      %h3.text-cemter Oh and we find some really fun ones to keep your team excited.
      %hr
      %h2.section-title
        %span Ready to Start?
      .main-action.row
        .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-2
          %a.smooth-scroll.btn.btn-lg.btn-block.btn-danger{:href => "/signup"} Sign Up
  %section#features.section.section-center.section-hilite.section-features
    .container
      %h2.section-title
        %span Why?
      .row.mb50
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/149831446?loop=1&title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "800"}

      .row
        .col-md-4.col-sm-6
          .icon-wrap
            %img{:alt => "", :src => "assets/landing_page/expo-markers-transparent.png"}/
          %h4 Always Have Pens On Hand
          %p No more employees running from room to room looking for markers. You'll always have enough.
        .col-md-4.col-sm-6
          .icon-wrap
            %img{:alt => "", :src => "assets/landing_page/shopping-x.png"}/
          %h4 No More Ordering
          %p Don't worry ever again about remembering to place an order.
        .col-md-4.col-sm-6
          .icon-wrap
            %img{:alt => "", :src => "assets/landing_page/expo-click-transparent.png"}/
          %h4 Try Out New Supplies
          %p Get Currated Batches of Whiteboard Markers and Accessories (Yes, we said currated whiteboard markers)


  -# %section#portfolio.section.section-portfolio
  -#   .container
  -#     %h2.section-title
  -#       %span Recent Works.
  -#     %ul#filters
  -#       %li
  -#         %a{"data-filter" => "*", :href => "#"} All
  -#       %li /
  -#       %li
  -#         %a{"data-filter" => ".web", :href => "#"} Web Design
  -#       %li /
  -#       %li
  -#         %a{"data-filter" => ".graphic", :href => "#"} Graphic Design
  -#       %li /
  -#       %li
  -#         %a{"data-filter" => ".photography", :href => "#"} Photography
  -#       %li /
  -#       %li
  -#         %a{"data-filter" => ".motion", :href => "#"} Motion Graphics
  -#       %li /
  -#       %li
  -#         %a{"data-filter" => ".branding", :href => "#"} Branding
  -#     .portfolio-isotope.row
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.branding.photography.web
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.motion.graphic
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.branding.web
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.photography.graphic
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.motion.web
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.branding.graphic
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.motion.photography.web
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -#       %article.post.col-md-3.col-sm-6.portfolio-item.photography.motion.branding.graphic
  -#         .entry-thumbnail
  -#           %a.hover-effect{"data-target" => "#project-modal", "data-toggle" => "modal", :href => "#"}
  -#             %img{:alt => "", :src => "http://placehold.it/400x300"}/
  -#             %span.overlay
  -#               %i.fa.fa-plus
  -# / Project Modal
  -# #project-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
  -#   .modal-dialog
  -#     .modal-content
  -#       .modal-header
  -#         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  -#         %h4#project-modal-label.modal-title Project title
  -#       .modal-body
  -#         %article.single-project
  -#           .project-thumbnail
  -#             #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
  -#               .carousel-inner
  -#                 .item.active
  -#                   %img{:src => "http://placehold.it/800x600"}/
  -#                 .item
  -#                   %img{:src => "http://placehold.it/800x600"}/
  -#                 .item
  -#                   %img{:src => "http://placehold.it/800x600"}/
  -#               %ol.carousel-indicators
  -#                 %li.active{"data-slide-to" => "0", "data-target" => "#project-thumbnail-carousel-1"}
  -#                 %li{"data-slide-to" => "1", "data-target" => "#project-thumbnail-carousel-1"}
  -#                 %li{"data-slide-to" => "2", "data-target" => "#project-thumbnail-carousel-1"}
  -#               %a.left.carousel-control{"data-slide" => "prev", :href => "#project-thumbnail-carousel-1"}
  -#                 %span.fa.fa-chevron-left
  -#               %a.right.carousel-control{"data-slide" => "next", :href => "#project-thumbnail-carousel-1"}
  -#                 %span.fa.fa-chevron-right
  -#           .row
  -#             .col-md-4
  -#               %button.btn.btn-block.btn-primary{:type => "button"} Launch Project
  -#               %ul.list-unstyled.project-info
  -#                 %li
  -#                   %strong Type
  -#                   %span.pull-right Web Design
  -#                 %li
  -#                   %strong Client
  -#                   %span.pull-right Google
  -#                 %li
  -#                   %strong Year
  -#                   %span.pull-right 2014
  -#             .col-md-8
  -#               %p Suspendisse varius nisl nunc. Aenean in dictum nibh. Nullam congue facilisis purus porta ullamcorper. Aenean in consequat sapien. Cras orci augue, ultricies at luctus congue, dapibus sed magna. Vivamus consequat commodo pharetra. Maecenas sed tincidunt mi, quis accumsan nisi. Praesent ac porttitor massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in bibendum tellus, vitae imperdiet mauris.

  %section#portfolio.section.section-portfolio
    .container
      %h2.section-title
        %span White Board Art
      %p
        Remember the first time you used a whiteboard. It was actually fun. Let's bring back the creative spirit. Here is a collection of amazing work done by folks out in the wild. Send us photos of your work.
      .portfolio-isotope.row
        %article.post.col-md-3.col-sm-6.portfolio-item
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#yoda-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/yoda.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.branding.photography.web
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#catwoman-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/catwoman.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.motion.graphic
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#harry-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/harry.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.branding.web
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#hallowen-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/halloween.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.photography.graphic
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#nemo-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/nemo.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.motion.web
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#scarface-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/scarface.jpg"}/
              %span.overlay
                %i.fa.fa-plus
        %article.post.col-md-3.col-sm-6.portfolio-item.branding.graphic
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#guardians-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/guardians.jpg"}/
              %span.overlay
                %i.fa.fa-plus

        %article.post.col-md-3.col-sm-6.portfolio-item.photography.motion.branding.graphic
          .entry-thumbnail
            %a.hover-effect{"data-target" => "#stapler-modal", "data-toggle" => "modal", :href => "#"}
              %img{:alt => "", :src => "assets/landing_page/stapler.jpg"}/
              %span.overlay
                %i.fa.fa-plus
  / Project Modal
  #yoda-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title The Force is Strong with You
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/yoda.jpg"}/
  #catwoman-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Crazy Catwoman
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/catwoman.jpg"}/
  #harry-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Wizarding
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/harry.jpg"}/
  #halloween-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Halloween Town
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/halloween.jpg"}/
  #nemo-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Employees Are Not Food
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/nemo.jpg"}/
  #scarface-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Scarface
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/scarface.jpg"}/
  #guardians-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title I Am Groot
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/guardians.jpg"}/
  #stapler-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#project-modal-label.modal-title Excuse Me....
        .modal-body
          %article.single-project
            .project-thumbnail
              #project-thumbnail-carousel-1.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .item.active
                    %img{:src => "assets/landing_page/stapler.jpg"}/
  %section#testimonials.section.section-center.section-hilite.section-testimonial
    .container
      %h2.section-title
        %span What our clients say?
      %i.fa.fa-quote-left.fa-3x
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active
            %blockquote
              %p I love the new types of pens and erasers I get to try out
              %small
                Mark Mulholland
                %cite{:title => "Source Title"}
          .item
            %blockquote
              %p So happy to never have to think about whiteboard supplies again
              %small
                Jack Burly
                %cite{:title => "Source Title"} - Captivate Real Estate
          .item
            %blockquote
              %p You've made whiteboards fun again
              %small
                Some guy
                %cite{:title => "Source Title"} working at a startup
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %img.img-circle{:alt => "", :height => "64", :src => "assets/landing_page/mark.jpg", :width => "64"}/
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %img.img-circle{:alt => "", :height => "64", :src => "assets/landing_page/jack.jpg", :width => "64"}/
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
            %img.img-circle{:alt => "", :height => "64", :src => "assets/landing_page/david.jpg", :width => "64"}/
  %section#pricing.section.section-center.section-pricing
    .container
      %h2.section-title
        %span Pricing Table Made Easy
      .pricing-table
        .row
          .col-md-3.col-sm-6
            .panel.panel-default
              %header.panel-heading
                %h1.pricing-header Two Guys In A Garage
                .the-price
                  $5.50
                  %span.subscript / month
              .panel-body
                %table.table
                  %tbody
                    %tr
                      %td 2 Markers
                    %tr.active
                      %td 1 Eraser
              %footer.panel-footer
                %a.btn.btn-default{:href => "/signup"} Sign up now

          .col-md-3.col-sm-6
            .panel.panel-default
              %header.panel-heading
                %h1.pricing-header Seed Money
                .the-price
                  $11
                  %span.subscript / month
              .panel-body
                %table.table
                  %tbody
                    %tr
                      %td 4 Markers
                    %tr.active
                      %td 2 Erasers
              %footer.panel-footer
                %a.btn.btn-default{:href => "/signup"} Sign up now

          .col-md-3.col-sm-6
            .panel.panel-primary
              %header.panel-heading
                %h1.pricing-header Venture Capital
                .the-price
                  $25
                  %span.subscript / month
              .panel-body
                %table.table
                  %tbody
                    %tr
                      %td 8 Markers
                    %tr.active
                      %td 4 Erasers
                    %tr.active
                      %td 1 Suprise Accessory
              %footer.panel-footer
                %a.btn.btn-primary{:href => "/signup"} Sign up now

          .col-md-3.col-sm-6
            .panel.panel-default
              %header.panel-heading
                %h1.pricing-header IPO
                .the-price
                  $50
                  %span.subscript / month
              .panel-body
                %table.table
                  %tbody
                    %tr
                      %td 20 Markers
                    %tr.active
                      %td 10 Erasers
                    %tr
                      %td 3 Suprise Accessories
              %footer.panel-footer
                %a.btn.btn-default{:href => "/signup"} Sign up now
  -# %section#team.section.section-center.section-hilite.section-team
  -#   .container
  -#     %h2.section-title
  -#       %span Our Funny Team
  -#     .row
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 Rihanna
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 Marry
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 Ronaldo
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 Jackie Lord
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 David Beckham
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %img{:src => "http://placehold.it/300x300"}/
  -#         %h5 John Doe
  -# %section#blog.section.section-blog
  -#   .container
  -#     %h2.section-title
  -#       %span Our Blog
  -#     .row
  -#       .col-md-6
  -#         %article.hentry.post
  -#           .row
  -#             .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
  -#               %a.hover-effect{:href => "#"}
  -#                 %img{:alt => "", :src => "http://placehold.it/165x165"}/
  -#                 %span.overlay
  -#                   %i.fa.fa-plus
  -#             .col-lg-8.col-md-7.col-sm-8
  -#               %header.entry-header
  -#                 %h2.entry-title
  -#                   %a{:href => "#"} Sample blog title
  -#                 .entry-meta
  -#                   By
  -#                   %a{:href => "#"} Jackie Lord
  -#                   in
  -#                   %a{:href => "#"} Category
  -#               .entry-content
  -#                 %p Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.
  -#                 %a.more{:href => "#"}
  -#                   %span.btn.btn-primary Continue Reading
  -#       .col-md-6
  -#         %article.hentry.post
  -#           .row
  -#             .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
  -#               %a.hover-effect{:href => "#"}
  -#                 %img{:alt => "", :src => "http://placehold.it/165x165"}/
  -#                 %span.overlay
  -#                   %i.fa.fa-plus
  -#             .col-lg-8.col-md-7.col-sm-8
  -#               %header.entry-header
  -#                 %h2.entry-title
  -#                   %a{:href => "#"} Sample blog title
  -#                 .entry-meta
  -#                   By
  -#                   %a{:href => "#"} Jackie Lord
  -#                   in
  -#                   %a{:href => "#"} Category
  -#               .entry-content
  -#                 %p Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.
  -#                 %a.more{:href => "#"}
  -#                   %span.btn.btn-primary Continue Reading
  -# %section#clients.section.section-hilite.section-our-clients
  -#   .container
  -#     %h2.section-title
  -#       %span Our Clients
  -#     .row
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  -#       .col-md-2.col-sm-4.col-xs-6
  -#         %a{:href => "#"}
  -#           %img{:alt => "", :src => "http://placehold.it/165x80"}/
  %section#contact.section.section-center.section-contact
    .container
      %h2.section-title
        %span Contact Us
      %p Want to say hello? Want to know more about us? Give us a call or drop us an email.
      .main-action
        %form{:role => "form"}
          .row
            .col-sm-6
              .form-group
                %label.sr-only Subject
                %input.form-control{:placeholder => "Subject", :type => "text"}/
              .form-group
                %label.sr-only Name
                %input.form-control{:placeholder => "Name", :type => "text"}/
              .form-group
                %label.sr-only Email
                %input.form-control{:placeholder => "Email", :type => "email"}/
            .col-sm-6
              .form-group
                %label.sr-only Message
                %textarea.form-control{:placeholder => "Message", :rows => "6", :style => "height: 100px"}
          %button.btn.btn-default{:type => "submit"} Send message

  %section.section.section-center.section-cta.pt10.pb20
    .container
