-# TODO This is in the wrong folder. Should be in view/subscriptions

%main#main.site-main
  .container
    .row
      .col-sm-4.col-sm-offset-4
        -#validates errors div
        -# = render "layouts/validation_errors", :model => @user

      .col-xs-8.col-xs-offset-2
        %h2= "Thanks #{@options[:name]}, our robots are alerting a real person."

        %h3= "We'll get back to you at #{@options[:email]}!"
