.row
  .col-md-8
    %h1
      %strong Subscription

    %h2
      %strong Current Subscription:
      %br
      - if @user.subscription
        = "#{@user.subscription.level_in_words} - #{number_to_currency(@user.subscription.price, precision: 0)}/mo"

        %br
        %br
        %br
        = button_to "Cancel", user_subscription_path(@user, @subscription), :method => :delete, class: "btn btn-danger mt10", data: { confirm: "Are you like, really, really, sure?" }
