.row
  .col-md-8
    %h1
      %strong Subscription

    %h2
      %strong Current Subscription:
      %br
      - if @user.subscription
        - case @user.subscription.level
        - when 101
          Two Guys in a Garage - $5.50/mo
        - when 102
          Seed Money - $11/mo
        - when 103
          Venture Capital - $25/mo
        - when 104
          IPO - $50/mo
        - when 0
          None
        - else
          = @user.subscription.level

        %br
        %br
        %br
        = button_to "Cancel", user_subscription_path(@user, @subscription), :method => :delete, class: "btn btn-danger mt10", data: { confirm: "Are you like, really, really, sure?" }
