%h1 Sign up for a monthly plan today

.col-md-4
  = simple_form_for [@user, @subscription] do |f|
    = f.input :level, selected: "Venture Capital - $14/mo", collection: {"Two Guys in a Garage - $6/mo" => 101, "Seed Money - $7/mo" => 102, "Venture Capital - $14/mo" => 103, "IPO - $28/mo" => 104 }, input_html: {:onchange => "showStripeButton(this)"}
    .actions
      -# Not sure how to track this event
      #garage
        .panel.panel-default
          .panel-body
            %table.table
              %tbody
                %tr
                  %td 4 Markers
          %footer.panel-footer
            %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: {amount: 600, description: "Two Guys in a Garage", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #seed{style: "display: none"}
        .panel.panel-default
          .panel-body
            %table.table
              %tbody
                %tr
                  %td 8 Markers
          %footer.panel-footer
            %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 700, description: "Seed Money", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #venture{style: "display: none"}
        .panel.panel-default
          .panel-body
            %table.table
              %tbody
                %tr
                  %td 16 Markers
                %tr.active
                  %td 1 Eraser
          %footer.panel-footer
            %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 1400, description: "Venture Capital", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #ipo{style: "display: none"}
        .panel.panel-default
          .panel-body
            %table.table
              %tbody
                %tr
                  %td 36 Markers
                %tr.active
                  %td 3 Erasers
          %footer.panel-footer
            %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 2800, description: "IPO", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

:javascript
  console.log("new subscription page javascript working")

  function showStripeButton(elem){
    console.log("showStripeButton Fired")
    document.getElementById('garage').style.display = "none";
    document.getElementById('seed').style.display = "none";
    document.getElementById('venture').style.display = "none";
    document.getElementById('ipo').style.display = "none";

    if(elem.value == 101){
      document.getElementById('garage').style.display = "block";
    } else if(elem.value == 102){
      document.getElementById('seed').style.display = "block";
    } else if(elem.value == 103){
      document.getElementById('venture').style.display = "block";
    } else if(elem.value == 104){
      document.getElementById('ipo').style.display = "block";
    }
  }
