%h1 Sign up for a monthly plan today

.col-md-4
  = simple_form_for [@user, @subscription] do |f|
    = f.input :level, selected: "Silver $9.99", collection: {"Two Guys in a Garage - $5.50/mo" => 101, "Seed Money - $11.00/mo" => 102, "Venture Capital - $25.00/mo" => 103, "IPO - $50.00/mo" => 104 }, input_html: {:onchange => "showStripeButton(this)"}
    .actions
      -# Not sure how to track this event
      #garage
        %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: {amount: 550, description: "Two Guys in a Garage", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #seed{style: "display: none"}
        %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 1100, description: "Seed Money", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #venture{style: "display: none"}
        %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 2500, description: "Venture Capital", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

      #ipo{style: "display: none"}
        %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {amount: 5000, description: "IPO", key: ENV["STRIPE_PUBLISHABLE_KEY"]}}

:javascript
  console.log("new subscription page javascript working")

  function showStripeButton(elem){
    console.log("showStripeButton Fired")
    document.getElementById('garage').style.display = "none";
    document.getElementById('seed').style.display = "none";
    document.getElementById('venture').style.display = "none";
    document.getElementById('ipo').style.display = "none";

    if(elem.value == 102){
      document.getElementById('seed').style.display = "block";
    } else if(elem.value == 103){
      document.getElementById('venture').style.display = "block";
    } else if(elem.value == 104){
      document.getElementById('ipo').style.display = "block";
    }
  }
